# variables to be used by the bot
[bot]
token = bot_token_from_disc_dev
prefix = prefix
id = bot_id
version = anything
owner_id = yourDiscId
owner_name = DaPo#6919
# Bot Activity
#playing/streaming/listening/watching/none
activity_type = watching
avtivity_msg = something
#dnd/invisible/idle/online
status = online
streaming_url = https://youtu.be/dQw4w9WgXcQ

[database]
path = path/to/db
backup_path = path/to/backup